<div class="table-header">
  <div class="filter">
    <mat-form-field class="medium" appearance="fill">
      <input matInput type="text" placeholder="Pesquisar por usuário">
    </mat-form-field>
    <button mat-flat-button>Filtrar</button>
  </div>
  <div class="paginator">
    <button>{{"\<"}}</button>
        <button class="page">1</button>
        <button class="page">2</button>
        <button class="page">3</button>
        <button class="page">4</button>
        <button class="page">5</button>
        <button>{{">"}}</button>
  </div>
</div>
<table [cellSpacing]="0" [cellPadding]="10">
  <thead>
    @for (title of (signalListTable() | async)?.titles; track title) {
    <th>{{title}}</th>
    }
    <th></th>
  </thead>
  <tbody>
    @for (row of (signalListTable() | async)?.values; track row) {
      <tr>
        @for (col of row; track col) {
          <td>
            {{col.value}}
            @if (col.subtitle; as sub) {
              <span>{{ sub }}</span>
            }
          </td>
        }
        <td>
          <a>
            <div class="edit"></div>
          </a>
          <a>
            <div class="remove"></div>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>
